<footer>
  <p>
    &copy; 2024
    <a
      href="https://github.com/KvJellyBean"
      target="_blank"
      rel="noopener noreferrer"
      >KvJellyBean</a
    >. All Rights Reserved.
  </p>
</footer>
