<head>
  <meta charset="UTF-8" />
  <meta
    name="description"
    content="A simple mini message board app designed for easy, real-time text chatting. Users can create new chats and view chat details in a straightforward, no-frills interface."
  />
  <meta
    name="keywords"
    content="message board, chat, chat app, chatroom, chat room, chat room app, chatroom, jellyboard"
  />
  <meta name="author" content="KvJellyBean" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/logo.webp" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css" />
  <script
    src="https://kit.fontawesome.com/542fabac84.js"
    crossorigin="anonymous"
  ></script>
</head>
