<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', { title: "500 Error" } ) %>
  <body>
    <main>
      <div class="errorPage">
        <h1>500</h1>
        <h2>Internal Server Error</h2>
        <p>
          The server encountered an internal error or misconfiguration and was
          unable to complete your request.
        </p>
        <a href="/" class="backHome">Back to Home</a>
      </div>
    </main>
  </body>
</html>
